/* Estilos para el cuerpo y los formularios */
body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    padding: 20px;
    position: relative;
    background: linear-gradient(135deg, #8f8f8f, #f4f4f4, #b0b0b0, #f4f4f4, #8f8f8f);
}




form {
    margin-bottom: 10px;

}

#botones {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
}

#botones form {
    margin-right: 30px;
}

input[type="submit"] {
    padding: 10px 60px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #454444;
    color: #fff;
    transition: background-color 0.3s;
    border: 1px solid white;

}

input[type="submit"]:hover {
    background-color: #ffffff;
    border: 1px solid rgb(0, 0, 0);
    color: #000000;
}

#titulo {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;

}

#tareass {
    display: flex;
    justify-content: space-between;

}



#subtitulo1,
#subtitulo2 {
    width: 48%;

}

#subtitulo2 {
    border-left: 1px solid #363636;
    /* Línea vertical */
    padding-left: 20px;
    /* Espaciado para la línea */
}

#subtitulo1 h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;


}

#subtitulo2 h2 {

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}

/* Estilos para resaltar las tareas pendientes */
.pendiente {
    font-weight: bold;
    color: #ff0000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
}

.Completada {
    font-weight: bold;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
}

/* Estilos para el signo de interrogación */
.interrogacion {
    margin-left: 7px;
    color: #000000;

}

/* Estilos para el signo de ticket */
.ticket {
    margin-left: 7px;
    color: #28a745;
    /* Color verde */
}



/* Estilos para las listas y los elementos de lista */
h1,
h2 {
    color: #333;

}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px 0;
    border-bottom: 1px solid #434343;
}

/* Estilos para resaltar las tareas pendientes */
.pendiente {
    font-weight: bold;
    color: #ff0000;
}